#main{
  background-color: beige;
  text-align: center;
  margin: 30px 30px;
}

/*
#img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}
*/
#main >> p {
  text-align: center;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
}
