#main{
  background-color: beige;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#image {
  max-width: 100%;
  height: auto;
  align-items: center;
}

#title {
  text-align: center;
}

#img-caption {
  text-align: center;
}